body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.zone-a {
  position: absolute;
  width: 1024px;
  height: 632px;
  background-color: #222222;
}

.eyezone {
  position: absolute;
  top: 120px;
  left: 115px;
  width: 794px;
  height: 252px;
  /*	object-fit: contain;*/
  border-radius: 120px;
  /*	background-color: #acacac;*/
  box-shadow: inset 0 4px 20px 0 rgba(0, 0, 0, 0.5);
}

.eyezone-happy {
  position: absolute;
  top: 101px;
  left: 56px;
  width: 913px;
  height: 290px;
  /*	object-fit: contain;*/
  border-radius: 200px;
  /*	background-color: #acacac;*/
  box-shadow: inset 0 4px 20px 0 rgba(0, 0, 0, 0.5);
}

.eyezone-sad {
  position: absolute;
  top: 137px;
  left: 169px;
  width: 687px;
  height: 218px;
  /*	object-fit: contain;*/
  border-radius: 120px;
  /*	background-color: #acacac;*/
  box-shadow: inset 0 4px 20px 0 rgba(0, 0, 0, 0.5);
}

.eyeball-l {
  position: absolute;
  top: 162px;
  left: 175px;
  width: 186px;
  height: 168px;
  /*	object-fit: contain;*/
  /*	background-color: #f1f1f1;*/
  /*	border: solid 4px #a8a8a8;*/
}

.eyeball-r {
  position: absolute;
  top: 162px;
  left: 663px;
  width: 186px;
  height: 168px;
  /*	object-fit: contain;*/
  /*	background-color: #f1f1f1;*/
  /*	border: solid 4px #a8a8a8;*/
}

.pupil-l {
  position: absolute;
  top: 193px;
  left: 216px;
  width: 106px;
  height: 106px;
}

.pupil-r {
  position: absolute;
  top: 193px;
  left: 704px;
  width: 106px;
  height: 106px;
}

.mouth-default {
  position: absolute;
  top: 485px;
  left: 338px;
  width: 347.9px;
  height: 43.2px;
}

.mouth-sad {
  position: absolute;
  top: 485px;
  left: 338px;
  width: 347.9px;
  height: 43.2px;
  object-fit: contain;
}

.mouth-happy {
  position: absolute;
  top: 456px;
  left: 300px;
  width: 424px;
  height: 96px;
}

.what-is-your-stress {
  position: absolute;
  top: 41px;
  left: 41px;
  width: 525px;
  height: 36px;
  font-family: SanFranciscoDisplay;
  font-size: 36px;
  text-align: left;
  color: #ffffff;
}

.stressless {
  position: absolute;
  top: 185px;
  left: 41px;
  width: 84px;
  height: 24px;
  font-family: SanFranciscoDisplay;
  font-size: 18px;
  text-align: left;
  color: #9b9b9b;
}

.neutral {
  position: absolute;
  top: 185px;
  left: 362px;
  width: 59px;
  height: 24px;
  font-family: SanFranciscoDisplay;
  font-size: 18px;
  text-align: center;
  color: #9b9b9b;
}

.stressful {
  position: absolute;
  top: 185px;
  left: 669px;
  width: 72px;
  height: 24px;
  font-family: SanFranciscoDisplay;
  font-size: 18px;
  text-align: right;
  color: #9b9b9b;
}

.energetic {
  position: absolute;
  top: 185px;
  left: 41px;
  width: 76px;
  height: 24px;
  font-family: SanFranciscoDisplay;
  font-size: 18px;
  text-align: left;
  color: #9b9b9b;
  /*color: var(--purpley-grey);*/
}

.normal {
  position: absolute;
  top: 185px;
  left: 361.5px;
  width: 60px;
  height: 24px;
  font-family: SanFranciscoDisplay;
  font-size: 18px;
  text-align: center;
  color: #9b9b9b;
  /*	color: var(--purpley-grey);*/
}


input {
  position: absolute;
  top: 271px;
  left: 71px;
  width: 640px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 5px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 26px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#zone-b {
  position: absolute;
  display: flex;
  padding: 0;
  flex-direction: column;
  top: 632px;
  width: 1024px;
  height: 392px;
  background-color: #4a4a4a;
  
}

#cityNameDiv {
  margin-left: 40px;
  margin-top: 45px;
  font-family: SanFranciscoDisplay-Regular;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}


#weatherReadingDiv {
  margin: 20px 0 10px 40px;
/*   margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 10px; */
  font-family: SanFranciscoDisplay-Medium;
	font-size: 36px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

#dialogBox {
  margin-left: 20px;
  width: 984px;
  height: 170px;
  background-color: #ececec;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
	font-family: SanFranciscoDisplay-Medium;
  font-size: 36px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #4a4a4a;
}
